<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DB_DIRECTORY</key>
	<string></string>
	<key>GAPPS_CREATE_ACCOUNTS</key>
	<false/>
	<key>GAPPS_GLOBAL_SYNC</key>
	<false/>
	<key>GAPPS_GLOBAL_SYNC_FILE</key>
	<string></string>
	<key>GAPPS_GLOBAL_SYNC_INTERVAL</key>
	<integer>0</integer>
	<key>GAPPS_PASSWORD</key>
	<string></string>
	<key>GAPPS_PRIVATE_KEY</key>
	<string></string>
	<key>GAPPS_PUBLIC_KEY</key>
	<string></string>
	<key>GAPPS_SYNC_INTERVAL</key>
	<integer>0</integer>
	<key>GAPPS_USER</key>
	<string></string>
	<key>LDAP</key>
	<string></string>
	<key>ODM</key>
	<string></string>
	<key>USER_KEYSIZE</key>
	<integer>0</integer>
</dict>
</plist>
